---
layout: default
pagination:
enabled: true
---

<section class="intro bg-white rellax" data-rellax-speed="-4">
  <div class="grid">
    <div>
      <h2>Hi &#x1F44B;</h2>
      <br />
      <h1>I'm Matheus</h1>
      <br />
      <p style="font-size: 1.3em;">
        and I'm passionate about building great interactive experiences.
      </p>
    </div>
  </div>
</section>

<section id="about" class="work section-padding bg-lightgrey">
  <div class="grid">
    <h2 class="work__title black-stripe">
      <span data-aos="slice-up" data-aos-duration="400">A bit about</span>
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">me</span>
    </h2>
    <br />
    <h3 class="work__subtitle">
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">
        I'm a software engineer with over 5 years writing code for client and
        server web applications, and I had the privilege of working with result-oriented
        software engineering teams in industries ranging from Edtech and Fintech, helping to build
        products that are fast, scalable and maintainable, while meeting user's
        needs and business requirements.
      </span>
    </h3>
    <br />
    <h3 class="work__subtitle">
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">
        Over the years, I have been refining my problem-solving skills around
        the full lifecycle of products, from research and planning all the way
        to testing and deployment. Furthermore, I acquired experience
        collaborating with product managers, designers, QA
        testers, DevOps engineers as well as stakeholders and clients.
      </span>
    </h3>
    <br />
    <h3 class="work__subtitle">
      <p data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">
        When I'm not working, I enjoy:
        <br />
        <ul style="margin-left: 20px;">
          <li>Reading &#x1F4DA;</li>
          <li>Biking &#x1F6B4;&#x200D;&#x2642;&#xFE0F;</li>
          <li>Eating Mexican food &#x1F32E; </li>
          <li>Composing music &#x1F3B6;</li>
        </ul>
      </p>
    </h3>
    <h3 class="work__subtitle">
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">
        Feel free to check out my <a target="_blank" class="header__link" href="https://github.com/matheuseabra" style="font-weight: 400;">GitHub</a> and featured work. Email me if you think I'm the right fit and we should be working together on interesting
        projects.
      </span>
    </h3>
  </div>
</section>

<section id="projects" class="work section-padding bg-white">
  <div class="grid">
    <h2 class="work__title black-stripe">
      <span data-aos="slice-up" data-aos-duration="400">Featured</span>
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">work</span>
    </h2>
    <div class="work__container">
      {% assign ordered_work = site.work | sort: 'order' %} {% for work in
      ordered_work %}
      <div>
        {% include work-card.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="skills" class="skills section-padding bg-lightgrey">
  <div class="grid">
    <h2 class="work__title black-stripe">
      <span data-aos="slice-up" data-aos-duration="400">Experience</span>
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">& skills</span>
    </h2>
    <div class="work__container">
      {% assign ordered_skills = site.skills | sort: 'order' %} {% for skills in
      ordered_skills %}
      <div>
        {% include skill-card.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- <section id="articles" class="posts section-padding bg-white">
  <div class="grid">
    <h2 class="posts__title black-stripe">
      <span data-aos="slice-up" data-aos-duration="400">Latest</span>
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">articles</span>
    </h2>
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog">
      {% for post in paginator.posts %} {% include post-card.html %} {% endfor
      %}
    </div>

    {% if paginator.next_page %}
    <div class="posts__pages" data-pages="{{ paginator.total_pages }}"></div>
    <div class="posts__pagination">
      <span class="posts__next">Load More Articles</span>
    </div>
    {% endif %}
  </div>
</section> -->

{% include newsletter.html %}