
<div class="author-wrapper">
  <h3 class="black-stripe">About the author</h3>

  <div class="author-container">
    <img class="avatar-circle" src="/assets/images/matheus.jpg" alt="">
  
    <div class="author-description">
      <p>Matheus Seabra is a software engineer, writer, musician, and ex-failed-startup co-founder of CastleDev. He writes about software design and architecture best practices with FullStack JavaScript and is especially passionate about Domain-Driven Design, React and Enterprise Node.js with TypeScript.</p>
    </div>
  </div>
</div>