<footer id="contact" class="footer bg-black">
  <div class="grid">
    <div>
      <a class="footer__contact" href="mailto:matheusvieiracoelho@gmail.com"
        >Get in touch</a
      >
    </div>
  </div>
  <ul class="footer__list">
    <li>
      <a
        class="footer__link"
        href="https://github.com/matheuseabra/matheuseabra.github.io/blob/master/assets/pdf/Matheus-Seabra-CV.pdf"
        download="Matheus_Seabra_Resume"
        >Resume / CV</a
      >
    </li>
    <li>
      <a
        class="footer__link"
        href="https://www.linkedin.com/in/matheus-seabra-080ab3b7/"
        target="_blank"
        >LinkedIn</a
      >
    </li>
    <li>
      <a
        class="footer__link"
        href="https://github.com/matheuseabra"
        target="_blank"
        >GitHub</a
      >
    </li>
    <li>
      <a
        class="footer__link"
        href="http://twitter.com/matseabra"
        target="_blank"
        >Twitter</a
      >
    </li>
    <li>
      <a
        class="footer__link"
        href="http://codepen.io/matheuseabra"
        target="_blank"
        >CodePen</a
      >
    </li>
  </ul>
</footer>
