<footer id="contact" class="footer bg-black">
  <div class="grid">
    <a class="footer__contact" href="mailto:matheusvieiracoelho@gmail.com">Let's connect?</a>
    <p style="color: white; margin: 20px 0 0 0;" class="footer__paragraph">You’ve come this far, send me an <a class="footer__link" href="mailto:matheusvieiracoelho@gmail.com">email</a> or let's chat on <a class="footer__link" href="http://twitter.com/matseabra" target="_blank">Twitter</a>.</p>
  </div>
  <ul class="footer__list">
    <li>
      <a class="icon-footer" href="https://github.com/matheuseabra/my-resume/blob/master/Matheus-Seabra-Resume.pdf"
        target="_blank"><span class="iconify" data-icon="feather:file-text"></span></a>
    </li>
    <li>
      <a class="icon-footer" href="https://www.linkedin.com/in/matheus-seabra-080ab3b7/" target="_blank"><span class="iconify" data-icon="feather:linkedin"></span></a>
    </li>
    <li>
      <a class="icon-footer" href="https://github.com/matheuseabra" target="_blank"><span class="iconify" data-icon="feather:github"></span></a>
    </li>
    <li>
      <a class="icon-footer" href="http://twitter.com/matseabra" target="_blank"><span class="iconify" data-icon="feather:twitter"></span></a>
    </li>
  </ul>
</footer>