{% if page.url == "/" %}
<header class="header">
  <a class="header__title" href="#" data-scroll>Matheus Seabra</a>

  <nav>
    <ul class="header__list">
      <li>
        <a class="header__link" href="#about" data-scroll>About</a>
      </li>
      <li>
        <a class="header__link" href="#projects" data-scroll>Work</a>
      </li>
      <li>
        <a class="header__link" href="#skills" data-scroll>Skills</a>
      </li>
      <li>
        <a class="header__link" href="#articles" data-scroll>Blog</a>
      </li>
      <li>
        <a class="header__link" href="#contact" data-scroll>Contact</a>
      </li>
    </ul>
  </nav>
</header>

<header class="header--mobile">
  <a class="header__title" href="#" data-scroll>Matheus Seabra</a>

  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li>
        <a class="header__link" href="#about" data-scroll>About</a>
      </li>
      <li>
        <a class="header__link" href="#projects" data-scroll>Work</a>
      </li>
      <li>
        <a class="header__link" href="#skills" data-scroll>Skills</a>
      </li>
      <li>
        <a class="header__link" href="#articles" data-scroll>Blog</a>
      </li>
      <li>
        <a class="header__link" href="#contact" data-scroll>Contact</a>
      </li>
    </ul>
  </nav>
</header>
{% else %}
<header class="header">
  <a class="header__title" href="{{ '/' | prepend: site.baseurl }}"
    >Matheus Seabra</a
  >

  <nav>
    <ul class="header__list">
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="about"
          >About</a
        >
      </li>
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="projects"
          >Work</a
        >
      </li>
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="skills"
          >Skills</a
        >
      </li>
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="articles"
          >Blog</a
        >
      </li>
      <li>
        <a class="header__link" href="#contact" data-scroll>Contact</a>
      </li>
    </ul>
  </nav>
</header>

<header class="header--mobile">
  <a class="header__title" href="{{ '/' | prepend: site.baseurl }}"
    >Matheus Seabra</a
  >

  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="about"
          >About</a
        >
      </li>
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="projects"
          >Work</a
        >
      </li>
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="skills"
          >Skills</a
        >
      </li>
      <li>
        <a
          class="header__link"
          href="{{ '/' | prepend: site.baseurl }}"
          data-anchor="articles"
          >Blog</a
        >
      </li>
      <li>
        <a class="header__link" href="#contact" data-scroll>Contact</a>
      </li>
    </ul>
  </nav>
</header>
{% endif %}
