<section id="newsletter" class="work section-padding bg-lightgrey">
  <div class="grid newsletter-container">
    <h2 class="work__title black-stripe">
      <span data-aos="slice-up" data-aos-duration="400">Subscribe to newsletter</span>
    </h2>
    <h3 class="newsletter-description">
      Interested in how to write professional Full Stack JavaScript applications?<br>Subscribe to my newsletter to be notified of new content &#x1F525;
      <br> No spams. Unsubscribe anytime. 🖖 
    </h3>
    <form action="https://matheuseabra.us7.list-manage.com/subscribe/post?u=0ada142f3d6af9716322c4b2e&amp;id=7901c8363c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div>
          <input type="email" value="" name="email" class="newsletter-input" id="mce-EMAIL" placeholder="Your best email" required>
          <button class="subscribe-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe <span class="iconify" data-icon="feather:chevron-right" data-inline="false"></span></button>
        </div>
        <div id="mcs="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
        <div style="display: none;" aria-hidden="true">
          <input type="text" name="b_0ada142f3d6af9716322c4b2e_7901c8363c" tabindex="-1" value="">
        </div>
    </form>
  </div>
</section>