<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url" data-aos="slide-up">
      <div data-aos="slice-up" data-aos-duration="400" class="article-thumb" {% if post.url %}style="background-color: {{ post.color }}" {% endif %}>
        <h2 data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">{{ post.title }}</h2>
        <time class="black-stripe" data-aos="slice-up" data-aos-duration="400" data-aos-delay="100"
          datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %Y" }}</time>
      </div>
      <header class="posts__header">
        <p class="posts__text" data-aos="fade-in" data-aos-duration="400">
          <span itemprop="description">{{ post.description }}</span>
        </p>
        <p class="posts__text" data-aos="fade-in" data-aos-duration="400"><b>Read more</b></p>
      </header>
  </a>
</article>