<article class="work__work">        
          <header class="card">
            <h3 class="work__title black-stripe">
              <span data-aos="slice-up" data-aos-duration="400">{{ skills.title }}</span>
            </h3>
            
            <p style="margin-top: 15px;" class="work__text" data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">{{ skills.description }}</p>

            <ul style="margin: 10px 0 0 20px;">
              {%for tag in skills.tags %}
                <li>{{ tag }}</li>
              {%endfor %}     
            </ul>
        </header>
</article>