.grid-post {
  max-width: 60vw;
  margin-left: 140px;
}

ul li {
  margin-left: 20px;
}

pre {
  margin: 20px 0;
  padding: 20px;
  width: auto;
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
  pre {
    margin-left: 0;
    max-width: 85vw;
    font-size: 0.9em;
  }

  .grid-post {
    max-width: 85vw;
    margin-left: 0;
  }
}

.black-stripe {
  background-color: #000;
  color: #f4f4f4;
  padding: 0 10px;
  width: max-content;
  margin: 5px 0;
}

.icon-footer {
  color: #fff;
  font-size: 24px;
}

.work__subtitle {
  font-weight: 400 !important;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter-description {
  margin: 30px 0;
  width: 75%;
}

input,
textarea {
  border: none;
  background: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin: 10px 0;
}

button {
  outline: 0;
  border: none;
  padding: 0 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-input {
  width: 400px;
  height: 60px;
}

.subscribe-button {
  height: 60px;
  background: #000;
  color: #fff;
}

.contact-input {
  width: 100%;
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newsletter-description {
    margin: 30px 0;
    width: 75%;
    text-align: center;
  }

  .newsletter-input,
  .subscribe-button {
    width: -webkit-fill-available;
  }

  .newsletter-input,
  .subscribe-button {
    width: -moz-available;
  }

  .subscribe-button {
    margin-top: 15px;
  }
}

.subscribe-button svg {
  display: inline-block;
  vertical-align: middle;
}

input:focus,
.newsletter-input:focus {
  border: none;
}

.article-thumb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 250px;
  width: auto;
  padding: 0 20px;
  color: #fff;
  background-color: #000;
}

.article-thumb time {
  align-self: flex-start;
}
