code,
  kbd,
  pre,
  samp {
    font-size: 18px;
    background: #011627;
    color: #fff;
  }
  
  .black-stripe {
    background-color: #000;
    color: #F4F4F4;
    padding: 0 10px;
    width: max-content;
    margin: 5px 0;
  }

  .icon-footer {
    color: #FFF;
    font-size: 24px;
  }

  .work__subtitle {
    font-weight: 400 !important;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newsletter-description {
    margin: 30px 0;
    width: 75%;
  }

  .newsletter-input {
    border: none;
    background: #FFF;
    padding: 10px 20px;
    width: 400px;
    height: 60px;
    border-radius: 4px;
  }

  .subscribe-button {
    height: 60px;
    outline: 0;
    border: none;
    padding: 0 20px;
    background: #000;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .newsletter-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .newsletter-description {
      margin: 30px 0;
      width: 75%;
      text-align: center;
    }

    .newsletter-input, .subscribe-button {
      width: -webkit-fill-available;
    }

    .newsletter-input, .subscribe-button {
      width: -moz-available;
    }

    .subscribe-button {
      margin-top: 15px;  
    }
  }

  .subscribe-button svg {
    display: inline-block;
    vertical-align: middle;
  }

  input:focus, .newsletter-input:focus {
    border: none;
  }

  .article-thumb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 250px;
    width: auto;
    padding: 0 20px;
    color: #FFF;
    background-color: #000;
  }

  .article-thumb time {
    align-self: flex-start;
  }