---
layout: work
title: "Resume / CV"
description: "Resume / CV"
permalink: /resume/
---

<section id="skills" class="skills section-padding bg-white">
  <div class="grid">
    <h2 class="work__title black-stripe">
      <span data-aos="slice-up" data-aos-duration="400">Experience</span>
      <span data-aos="slice-up" data-aos-duration="400" data-aos-delay="100">& skills</span>
    </h2>
    <div class="work__container">
      {% assign ordered_skills = site.skills | sort: 'order' %} {% for skills in
      ordered_skills %}
      <div>
        {% include skill-card.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
