---
layout: default
---
<div>
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <section class="intro bg-white rellax" data-rellax-speed="-4">
      <div class="grid">
        <h1 style="font-size: 3.5em;" itemprop="name headline">{{ page.title }}</h1>
        <br>
        <time class="mast__date black-stripe" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date |
          date: "%B %Y" }}</time>
      </div>
    </section>

    <section class="section-padding bg-white">
      <div class="grid-post">
        <div id="markdown" itemprop="articleBody">
          {{ content }}
        </div>

        {% include author-profile.html %}
      </div>
    </section>
  </article>
</div>

{% include newsletter.html %}